<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Bewertung</title>
</head>
<body>

<!--    Zeigt das Menü an (Funktion zum Ausloggen) -->
<div th:replace="layout/menu :: menu"></div>
<!--    Evaluationsbogen mit Namen anzeigen -->
<h1 th:text="${'Evaluationsbogen ' + evaluationForm.name}"></h1>

<!--Wenn Fragen vorhanden sind, diese anzeigen mit der ID und dem Text der Frage-->
<table th:if="${evaluationForm != null and !evaluationForm.questions.empty}" class="table">
    <tr>
        <th>ID<th>
        <th>Frage</th>
        <th>Antwort</th>
        <th></th>

    </tr>
<!-- TODO:Die Fragen gesamt bewerten, sodass es nur noch einen Button weiter unten gibt, nicht für jede Frage einen einzelnen Button -->
<!--Jede Frage wird im Format [Id von Evaluationsbogen]-[Nummer der Frage] angezeigt-->
    <tr th:each="question : ${evaluationForm.questions}">
        <td th:text="${evaluationForm.id} + '-' +  ${question.countQuestion}"></td>
        <td th:text="${question.text}"></td>
        <td>
<!--        Neues Form-Objekt zum Bewerten der einzelnen Frage. Danach wird noch die Id der angezeigten Frage mitgegeben, am Ende der eingeloggte User-->
            <form th:object="${ratingForm}" th:action="${'/evaluationForms/' + evaluationForm.id +'/ratings/'+question.id+'/'+#httpServletRequest.remoteUser}" method="post" class="form">
                <input th:field="*{score}" name="score" type="number"></input>
                <p th:errors="*{score}"></p>
                <button type="submit">Bewerten</button>
            </form>
        </td>

    </tr>

</table>



<!-- Zurück auf den Evaluationsbogen kommen (Die showEvaluationForm-Seite) -->
<a th:href="${'/evaluationForms/'+evaluationForm.id}">Zurück</a>

</body>
</html>