<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
    <head>
        <title>Startseite</title>
        <style>
            @import url('https://fonts.googleapis.com/css2?family=Dosis:wght@300&display=swap');
        </style>
        <link rel="stylesheet" href="/static/css/main.css" th:href="@{/css/main.css}">
    </head>
    <body>

    <div>
        <h1>Lehrveranstaltungen</h1>

        <a sec:authorize="hasRole('ADMIN')" th:href="@{/lectures/}">Lehrveranstaltung anlegen</a>
    </div>

        <div class="mainMenu">
            <div th:replace="layout/menu :: menu"></div>
        </div>

        <div class="mainInfo">

            <!--In einer Liste die verschiedenen Lectures anzeigen-->
            <ul class="list-unstyled">
                <li th:each="lecture : ${lecture}">
                    <a th:href="@{/lectures/{id}(id=${lecture.id})}" th:text="${lecture.name}"></a>
                </li>
            </ul>

            <hr>
 
<!--Div-Element, welches die Evaluationsbögen einschließt. Diese kann nur ein Admin sehen -->
    <div sec:authorize="hasRole('ADMIN')">
    <h1>Evaluationsbögen</h1>
<!--In einer Liste die verschiedenen Evaluationsbögen anzeigen-->
    <ul class="list-unstyled">
        <li th:each="evaluationForm : ${evaluationForm}">
            <a th:href="@{/evaluationForms/{id}(id=${evaluationForm.id})}" th:text="${evaluationForm.name}"></a>
        </li>
    </ul>

        <!--Neue Evaluationsbögen anlegen-->
            <!-- Durch th:object wird das evaluationFormForm verknüpft -->
            <form th:action="@{/evaluationForms}" method="post" class="form-inline" th:object="${evaluationFormForm}">
                <input th:field="*{name}" type="text" placeholder="Name" class="form-control mr-2">
                <select name ="lecture_id">
        <!--        Es werden alle Lectures angezeigt, welchen noch kein evaluationsBogen zugeordnet ist-->
                    <option disabled="disabled" selected="selected">Lehrveranstaltung</option>
                    <option th:if="${lecture.evaluationForm==null}" th:each="lecture : ${lecture}" th:text="${lecture.name}" th:value="${lecture.id}"></option>
                </select>
                <span class="text-danger" th:errors="*{name}"/>
                <button type="submit" class="btn btn-primary">Anlegen</button>
            </form>
        </div>
    </body>

</div>
</div>
<div>
    <!--Zeigt den aktuell eingeloggten Nutzer an-->
    <span th:text="${#httpServletRequest.remoteUser}"/>
</div>
</body>

</html>
