<!DOCTYPE html>

<sec:html
        xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml"
        sec:authorize="hasRole('ADMIN')">
    <head>
        <title>Benutzerübersicht</title>
        <style>
            @import url('https://fonts.googleapis.com/css2?family=Dosis:wght@300&display=swap');
        </style>
        <link rel="stylesheet" href="/static/css/main.css" th:href="@{/css/main.css}">
    </head>
    <body>
        <div class="mainInfo">

          <div>

         <!--       Zeigt das Menü (Funktion zum Logout) an -->
              <div th:replace="layout/menu :: menu"></div>


          </div>

          <ul class="list-unstyled">

        <!-- Alle Nutzer werden in einer Liste angezeigt -->
            <li th:each="user : ${users}" th:text="${user.name}" />
          </ul>

          <hr/>
          <p class="small">
            <a th:href="@{/evaluationForms/}">Index</a>
          </p>
        </div>
    </body>
</sec:html>

