<!DOCTYPE html>
<sec:html
        xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml"
        sec:authorize="hasRole('ADMIN')">
<body>
<div>

  <div class="my-4">
 
 <!--       Zeigt das Menü (Funktion zum Logout) an -->
      <div th:replace="layout/menu :: menu"></div>


  </div>

  <ul class="list-unstyled">
  
<!-- Alle Nutzer werden in einer Liste angezeigt -->
    <li th:each="user : ${users}" th:text="${user.name}" />
  </ul>

  <hr/>
  <p class="small">
    <a th:href="@{/evaluationForms/}">Index</a>
  </p>
</div>
</body>
</sec:html>
