h1{
    font-family: 'Dosis', sans-serif;
    text-align: center;
}

body{
    max-width: 800px;
    margin: auto;
}

div {
    font-family: 'Dosis', sans-serif;

}
p{
    font-family: 'Dosis', sans-serif;
}
form{
    font-family: 'Dosis', sans-serif;
}

.my-4 {

}

.mainInfo{

}

.mainTitle{
    width: 800px;
}

.float-right{
    float: right;
}