<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Hello, world!</title>
</head>
<body>
<div class="container">
    <div class="mt-4">
<!--        Hier wird auf die Model Variable greeting zugegriffen, auch wenn es zwar hier als Fehler angezeigt wird, wird die Variable gefunden-->
<!--        ${greeting} greift auf die Variable greeting zu, th:text="${greeting}" setzt den Textinhalt des h1, th:if zeigt Element nur an, wenn die Bedingung erfüllt ist-->
        <h1 th:if="${greeting != null}" th:text="${greeting}"></h1>
    </div>
    <div class="mt-4">
        <form action="/hello" method="post" class="form-inline">
            <input name="name" type="text" class="form-control"/>
            <button type="submit" class="btn btn-primary">Abschicken</button>
        </form>
    </div>
</div>
</body>
</html>