<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Test</h1>


<div>

    <!--Ein Lecture-Objekt anlegen-->
    <form action="/lectures" method="post" class="form-inline">
        <input name="lecture_name" type="text" placeholder="Name Studienfach" class="form-control mr-2">



        <button type="submit" class="btn btn-primary">Anlegen</button>
    </form>

    <p class="small">
        <!--    Link zu der "index-Seite, dort Auflistung von allen Evaluationsbögen-->
        <a href="/evaluationForms/">Zurück</a>
    </p>


</div>

</body>
</html>