<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <!--Wenn das lecture-Objekt null (leer) ist, soll eine komplett neue Lehrveranstaltung angelegt werden. Dann wird "anlegen" gezeigt. Wenn das Objekt gesetzt ist, wurde die Methode "changeGet" oder "changePost" im LectureIndexController aufgerufen und somit sollen die Attribute des Lecture-Objektes geändert werden -->
    <title th:if="${lecture == null}">Lehrveranstaltung anlegen</title>
    <title th:if="${lecture != null}">Lehrveranstaltung ändern</title>
</head>
<body>

<!--Wenn das lecture-Objekt null (leer) ist, soll eine komplett neue Lehrveranstaltung angelegt werden. Dann wird "anlegen" gezeigt. Wenn das Objekt gesetzt ist, wurde die Methode "changeGet" oder "changePost" im LectureIndexController aufgerufen und somit sollen die Attribute des Lecture-Objektes geändert werden -->
<h1 th:if="${lecture == null}">Lehrveranstaltung anlegen</h1>
<h1 th:if="${lecture != null}">Lehrveranstaltung ändern</h1>

<div>

    <!--Ein Lecture-Objekt anlegen-->
    <form th:action="@{/lectures}" method="post" class="form-inline" th:object="${lectureForm}">
        <label for="name">Name der Lehrveranstaltung</label><br>
        <input id="name" th:field="*{name}" placeholder="Name der Lehrveranstaltung" type="text" class="form-control mr-2"><br>

        <label for="startyear">Jahrgang</label><br>
        <input id="startyear" th:field="*{startyear}" type="number" placeholder="Jahrgang" class="form-control mr-2"><br>

        <label for="course">Studienfach</label><br>
        <input id="course" th:field="*{course}" type="text" placeholder="Studienfach" class="form-control mr-2"><br>

        <label for="studentCount">Studentenanzahl</label><br>
        <input id="studentCount" th:field="*{studentCount}" type="number" placeholder="Studentenanzahl" class="form-control mr-2"><br>

        <label for="lecturerName">Dozentname</label><br>
        <input id="lecturerName" th:field="*{lecturerName}" type="text" placeholder="Dozentname" class="form-control mr-2"><br>

        <label for="contactHours">Kontaktstunden</label><br>
        <input id="contactHours" th:field="*{contactHours}" type="number" placeholder="Kontaktstunden" class="form-control mr-2"><br>

<!--        Hier muss noch das Freifeld für den Freitext hin-->

        <p th:errors="*{name}"></p>
        <p th:errors="*{startyear}"></p>
        <p th:errors="*{course}"></p>
        <p th:errors="*{studentCount}"></p>
        <p th:errors="*{lecturerName}"></p>
        <p th:errors="*{contactHours}"></p>
        <!--Wenn das lecture-Objekt null (leer) ist, soll eine komplett neue Lehrveranstaltung angelegt werden. Wenn das Objekt gesetzt ist, wurde die Methode "changeGet" oder "changePost" im LectureIndexController aufgerufen und somit sollen die Attribute des Lecture-Objektes geändert werden -->
        <button th:if="${lecture == null}" type="submit" class="btn btn-primary">Anlegen</button>
        <button th:if="${lecture != null}" type="submit" class="btn btn-primary" th:formaction="@{/lectures/{lectureId}/change(lectureId=${lecture.id})}">Ändern</button>
    </form>

    <p class="small">
        <!--    Link zu der "index-Seite, dort Auflistung von allen Evaluationsbögen-->
        <a th:href="@{/evaluationForms/}">Zurück zur Übersicht</a>
    </p>


</div>

</body>
</html>