<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title th:text="${lecture.name}"></title>
</head>
<body>
<!--Lehrveransaltung mit Namen anzeigen-->
<h1 th:text="${lecture.name}"></h1>

<!--Den Status der Lehrveranstaltung anzeigen-->
<p th:if="${lecture.status==true}">Aktiv</p> <p th:if="${lecture.status!=true}">Inaktiv</p>

<p>Jahrgang:</p>
<p th:text="${lecture.startyear}"></p>

<p>Studienfach:</p>
<p th:text="${lecture.course}"></p>

<p>Studentenanzahl:</p>
<p th:text="${lecture.studentCount}"></p>

<p>Dozentname:</p>
<p th:text="${lecture.lecturerName}"></p>

<p>Kontaktstunden:</p>
<p th:text="${lecture.contactHours}"></p>

<!--Falls ein Evaluationsbogen zugeordnet ist, diesen anzeigen (die toString Methode von diesem)-->
<p th:if="${lecture.evaluationForm != null}" th:text="${lecture.evaluationForm}"></p>

<!--Falls kein Evaluationsbogen zugeordnet ist, die Nachricht "Es gibt keinen zugeordneten Evaluationsbogen" anzeigen-->
<p th:if="${lecture.evaluationForm == null}">Es gibt keinen zugeordneten Evaluationsbogen</p>

</body>
</html>